<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Logged In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@500&family=Kaushan+Script&family=Pacifico&family=Satisfy&family=Shadows+Into+Light&family=Tilt+Prism&display=swap"
        rel="stylesheet">
</head>

<body
    style="background-image: url(https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80);">
    <h1 style="color:
        red;margin-left:155px;margin-top:90px;font-family: 'Kaushan Script', cursive;">Hello <%=name%>,</br></h1>

        <h1 style="margin-left:145px;margin-right:145px">   Thank you so much for your acceptance to our esteemed college. We are truly proud to have you among our
            students and look forward to welcoming you on campus this year.</br>

            We would like to offer you our congratulations, </br>and encourage you to start planning your journey
            towards a successful academic career. We hope that this wonderful opportunity will help propel your future
            and allow you to achieve all that you hope for.
            </br>
            Shortly, You Will Get An Email On Your Registered Email Id Regarding Complete Admission Procedure .</br>
           </br></h1>
            <h1 style="color:navy;margin-left:160px"> With warmest regards,</br>Neeraj Chanchlani</h1>

</body>
</html>
