<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
    </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>LogIn</title>
</head>
<body style="background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);">
    <div class="container"style="height:400px;width:400px;position:relative;top:200px">
    <form method="POST" action ="/signup">
        <img style="border-radius: 10%;" class="mb-4" src="https://content.jdmagicbox.com/comp/jaipur/c3/0141px141.x141.180508140014.z6c3/catalogue/jmd-consultant-pvt-ltd-vaishali-nagar-jaipur-placement-services-candidate--qezvkma0e8.jpg" alt="" width="80" height="60">
        <h1 class="h3 mb-3 fw-normal"style="color:
        #2E8A99"><strong><em>Please sign in</em></strong></h1>
    
        <div class="form-floating">
          <input name="em" type="email" class="form-control my-3" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input name ="pw"type="password" class="form-control my-3" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
      </form>
    </div>
    <a href="http://localhost:4000/signup"><button style="position:relative;top:133px;left:530px" type="submit" class="btn btn-outline-light"><h4>Sign Up If Not Registered</h4></button></a>
    <a href="http://localhost:3000"><button style="position:relative;top:133px;left:530px" type="submit" class="btn btn-outline-dark"><h4>Home🏡</h4></button></a>
            
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>